#diagrams-areas{
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 75px;
    margin-top: 10px;
}

#input-container{
    display: flex;
    margin-top: -50px;
    flex-direction: row;
    margin-left: 140px;
    align-items: center;
    justify-items: center;
    justify-content: center;
    gap: 10px
}

#interrogation-text{
    margin-bottom: 50px;
    font-weight: bold;
    color: #3d3d3d;
    font-size: 35px;
    font-family: sans-serif;
}

#validation-text{
    margin-bottom: 50px;
    font-weight: bold;
    font-size: 25px;
    width: 100px;
    font-family: sans-serif;
}

.valid-text{
    color: #64af75;
}

.invalid-text{
    color: #af6464;
}

#feedback-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    justify-content: center;
    gap: 75px;
}

.feedback{
    width: 400px;
    text-align: center;
    color: #9b8b9b;
    font-weight: bold;
    font-family: sans-serif;
}

@media (max-width:700px) {
    #diagrams-areas{
        display: flex;
        align-items: center;
        justify-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 10px;
        margin-top: 0;
    }

    #feedback-container {
        display: none;
    }

    #input-container{
        display: flex;
        margin-top: -50px;
        flex-direction: row;
        margin-left: 140px;
        align-items: center;
        justify-items: center;
        justify-content: center;
        gap: 5px
    }

    #interrogation-text{
        margin-bottom: 15px;
        color: #3d3d3d;
        font-size: 15px;
    }

    #validation-text{
        margin-bottom: 15px;
        margin-right: 125px;
        font-weight: bold;
        font-size: 15px;
        width: inherit;
        font-family: sans-serif;
    }

}