#navbar{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
}
#menu-buttons-container{
    display: flex;
    width: 100px;
    flex-direction: row;
    gap: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 300px;
}

#divider{
    background-color: #cecece;
    height: 1px;
    width: 100%;
}

.nav-link{
    color: #5b5b5b;
    font-weight: bold;
    font-family: sans-serif;
}

@media (max-width:1070px) {
    #menu-buttons-container{
        display: flex;
        width: 100px;
        flex-direction: row;
        gap: 25px;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-right: 100px;
    }
}